@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";
@source "../node_modules/flowbite-datepicker";

@theme {
  --color-primaryColor: oklch(0.972 0 0deg);
  --color-secondaryColor: oklch(0.025 0.005 268.34deg);

  --font-primary: "Geist", sans-serif;
  --font-secondary: "inter", sans-serif;

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@layer utilities {
  .nav-padding-x {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-padding-y {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .btnPaddingX {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btnPaddingY {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid;
  }

  :root {
    --color-primaryColor: oklch(0.972 0 0deg);
    --color-secondaryColor: oklch(0.025 0.005 268.34deg);
  }

  .dark {
    --color-primaryColor: oklch(0.025 0.005 268.34deg);
    --color-secondaryColor: oklch(0.972 0 0deg);
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  html,
  body {
    background-color: var(--color-primaryColor);
    font-family: var(--font-primary);
    color: var(--color-secondaryColor);
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
  }

  p,
  li {
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-family: var(--font-secondary);
  }
}
